body {
	font-family: "Roboto Mono", monospace;
	min-height: 400px;
	/*background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");*/
	background-color: #e3274c;
	background-size: 100vh;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.container {
	text-align: center;
	padding: 20px;
	height: 100vh;
}

.page-title {
	color: #ffffff;
	margin: 0 0 5px;
}

.page-subtitle {
	color: #ffffff;
	margin-top: 5px;
}

.page-logo {
	width: 200px;
}

.alura-logo {
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}

input {
	margin: 12px;
	padding: 6px;
	border-radius: 5px;
}

input[type="number"] {
	outline-color: #f5d50a;
	border: 1px solid #f5d50a;
}

label {
	color: white;
}

button {
	width: 20%;
	height: 40px;
	cursor: pointer;
	background-color: #f5d50a;
	color: white;
	border: 0;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: 0.2s;
	font-weight: bold;
}

h2 {
	color: #ffffff;
	font-size: 30px;
}